@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
body{
    background: #000;
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    width: 100%;
    z-index: 1000;
    background: #000;
    border-bottom: 1px solid #bfbfbf;
}
header .logo{
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.2s;
}

    @keyframes slide_left{
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}

    @keyframes slide_top{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 1;
        }
    }

header ul li a.active,
header ul li a:hover{
    background: #313131;
    color: #fff;
    border-radius: 10px;
}

                    @media (max-width: 991px)
                    {
                        #header{
                            padding: 150px 20px;
                        }
                        header{
                            padding: 20px;
                        }
                        .ul_nav{
                            display: none;
                        }
                        .ul_nav.active{
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 45%;
                            background: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        header ul li{
                            margin: 10px 0;
                        }
                        header ul li a{
                            margin-left: 0;
                            font-size: 1.5em;
                            color: #000;
                        }
                        .toggle{
                            position: fixed;
                            top: 20px;
                            right: 20px;
                            width: 40px;
                            height: 40px;
                            background: #fff url('menu.png');
                            background-size: 30px;
                            background-repeat: no-repeat;
                            background-position: center;
                            cursor: pointer;
                            z-index: 1000;
                            border-radius: 2px;
                        }
                        .toggle.active{
                            background: #000 url('close.png');
                            background-size: 25px;
                            background-repeat: no-repeat;
                            background-position: center;
                            cursor: pointer;
                            z-index: 1000;
                            border-radius: 2px;
                        }
                    }

#homeSec{
    position: relative;
    margin-top: 15%;
    background: #000;
    color: #fff;
}
.con_home{
    display: flex;
    justify-content: space-between;
}
.con_home .home_txt{
    font-size: 5rem;
    margin-left: 200px;
}
.con_home .home_txt h2{
    font-size: 3rem;
    font-weight: lighter;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: 1.5s; 
}
     @keyframes slide_right{
        0%{
            transform: translateX(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
.con_home .home_txt h1{
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 1.5s;
}
    @keyframes slide_left {
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
.con_home .home_txt span{
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    animation: slide_right2 0.5s linear forwards;
    animation-delay: 1.5s; 
}
    @keyframes slide_right2{
        0%{
            transform: translateX(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
.con_home .home_txt button{
    cursor: pointer;
    padding: 15px 32px;
    font-size: 1.2rem;
    font-weight: 550;
    background: #695959;
    color: #fff;
    border: none;
}
.con_home .home_txt button:hover{
    background: #3d2d2d;
}
.home_scl .scl{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 5%;
    margin-left: 10%;
}
.home_scl .scl li i{
    color: #fff;
    font-size: 1.5rem;
    margin: 3rem 1.4rem;
}
.home_scl .scl li i:hover{
    color: #bfbfbf;
    transform: translateY(-5px);
}
.home_scl .scl hr{
    opacity: 0.5;
    filter: blur(2px);
}
.home_img img{
    position: absolute;
    width: 550px;
    height: 790px;
    margin-top: -7%;
    right: 11%;
    opacity: 0;
    animation: fade_in 1s linear forwards;
    animation-delay: 1.5s;
}
    @keyframes fade_in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 0.4;
        }
    }
#homeSec #line{
    display: none;
}

                    @media (max-width: 375px)
                    {
                        #homeSec{
                            margin-top: 40%;
                        }
                        .con_home{
                            display: block;
                        }
                        .con_home .home_txt{
                            margin-left: 50px;
                            font-size: 2rem;
                        }
                        .con_home .home_txt h2{
                            font-size: 2rem;
                            margin-bottom: 10px;
                        }
                        .con_home .home_txt h1{
                            margin-bottom: 10px;
                        }
                        .con_home .home_txt span{
                            font-size: 2rem;
                        }
                        .con_home .home_txt button{
                            margin-top: 30px;
                            font-size: 1rem;
                        }
                        .home_scl .scl{
                            display: block;
                            margin-top: 30%;
                        }
                        .home_scl .scl hr{
                            display: none;
                        }
                        .home_scl .scl li i{
                            font-size: 1.6rem;
                            margin: 1rem -1rem;
                        }
                        .home_img img{
                            width: 225px;
                            height: 350px;
                            opacity: 0.4;
                            margin-top: 12.5%;
                            right: 5%;
                        }
                        #homeSec #line{
                            display: flex;
                            width: 60%;
                            filter: blur(2px);
                            margin-top: 25px;
                            margin-left: 20%;
                        }

                    }

.hdforProj.active{
    background: #fff;
}
.hdforProj.active .logo,
.hdforProj.active ul li a{
    color: #3d2d2d;
}
.hdforProj.active ul li a:hover{
    color: #fff;
}
.spaceProj{
    background: #fff;
    height: 100px;
    margin-top: 15%;
}
#projects{
    margin-top: 0%;
    background: #fff;
}
.headingProj{
    text-align: center;
}
.headingProj h2{
    font-size: 2rem;
    margin-bottom: 2%;
}
.headingProj h1{
    font-size: 3rem;
    font-weight: bolder;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.port{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}
.port .card{
    position: relative;
    width: 520px;
    height: 300px;
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
}
.port .card .imgBx,
.port .card .contentBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.port .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.port .card .contentBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;
}
.port .card:hover .contentBx::before{
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}
.port .card .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
}
.port .card .contentBx .content{
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}
.port .card:hover .contentBx .content{
    transform: translateX(0px);
    transition-delay: 0.5s;
}
.port .card .contentBx .content h3{
    font-size: 0em;
}
.port .card .contentBx .content p{
    font-size: 0em;
}
.port .card:hover .contentBx .content h3{
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-align: left;
}
.port .card:hover .contentBx .content p{
    font-size: 1.5em;
    line-height: 2.4em;
    font-weight: 300;
    color: #fff;
}

                    @media (max-width: 375px) 
                    {
                        .spaceProj{
                            background: #000;
                        }
                        .headingProj h2{
                            font-size: 1.5rem;
                        }
                        .headingProj h1{
                            font-size: 2rem;
                        }
                        article{
                            display: block;
                        }
                        .port .card{
                            height: 200px;
                        }
                        .port .card:hover .contentBx .content h3{
                            font-size: 1.5em;
                        }
                        .port .card:hover .contentBx .content p{
                            font-size: 1em;
                        }
                    }
