* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background: #222;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #020514, #000);
    z-index: 1000;
    padding: 2rem 7%;
}

header .logo{
    font-size: 3.5rem;
    color: #fff;
    transform: translate(0%,-10%);
    overflow: hidden;
    transition: 1s;
    z-index: 1;
}