$header-height: 55px;
$app-background: rgba(15, 15, 15, 0.925);
$app-text-color: #fff;
$dash-side-margin: 20px;
$botton-side-width: auto;
$app-padding: 21px;
$border-radius: 5px;
$border-color: rgba(255, 255, 255, 0.15);
$border-color-low: rgba(255, 255, 255, 0.09);
$app-overlay-bg: rgba(255, 255, 255, 0.1);
$dropdown-hover-bg: rgba(255, 255, 255, 0.15);
$dropdown-bg: rgb(51, 51, 51);
$icon-color: #fff;
$accent-safe-contrast: $app-text-color;
$hover-overlay: rgba(255, 255, 255, 0.07);
$active-overlay: rgba(255, 255, 255, 0.12);
$dash-metric-side-padding: 10px;
$form-bottom-margin: 26px;
$form-element-margin: 1.2rem;
$form-element-margin-small: 0.75rem;
$form-element-padding: 13px;
$form-label-bottom-margin: 6px;
$font-size-greeting: 3.375rem;
$button-background: rgba(255, 255, 255, 0.3);
$button-background-hover: rgba(255, 255, 255, 0.4);
$button-background-active: rgba(255, 255, 255, 0.5);
$button-text: $app-text-color;
$a-show-full-duration: 0.3s;
$a-show-full-curve: ease-out;
$a-curve: ease;
$a-fast: 0.15s;
$a-default: all $a-fast $a-curve;
