.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/homeBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-position-y: 44px;
    overflow: hidden;
}

.container {
    position: relative;
    width: 80%;
    height: 500px;
    padding-top: 10rem;
}

.contents {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

                    @media screen and (max-width: 900px) {
                        .wrapper {
                            background-position-y: 160px;
                        }
                        .contents {
                            display: block;
                        }
                    }

/* Left Side */

.contents .left {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: left;
    color: var(--whiteFont);
}

.contents .left .Isaac {
    display: flex;
}

.contents .left .Isaac h1{
    transition: 0.2s;
}

.contents .left .Isaac .I:hover {
    color: #3d2d2d;
    font-size: 7.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .S:hover {
    color: #504848;
    font-size: 6rem;
    text-transform: uppercase;
}

.contents .left .Isaac .A1:hover {
    color: #2c1818;
    font-size: 7.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .A2:hover {
    color: #856363;
    font-size: 5.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .C:hover {
    color: #21152e;
    font-size: 6rem;
    text-transform: uppercase;
}

.contents .left .Isaac .S2 {
    margin-left: 30px;
}

.contents .left .Isaac .S2:hover {
    color: #856363;
    font-size: 5.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .A3:hover {
    color: #9175be;
    font-size: 7.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .R:hover {
    color: #391aec;
    font-size: 5.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .T:hover {
    color: #e00b0b;
    font-size: 5.5rem;
    text-transform: uppercase;
}

.contents .left .Isaac .E:hover {
    color: #3d2d2d;
    font-size: 7.5rem;
    text-transform: uppercase;
}

.contents .left h2 {
    font-size: 4rem;
    font-weight: lighter;
    margin-bottom: 20px;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: 1.5s; 
}

     @keyframes slide_right{
        0%{
            transform: translateX(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

.contents .left h1 {
    font-size: 7rem;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 1.5s;
}

    @keyframes slide_left {
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

.contents .left span {
    font-size: 4rem;
    font-weight: bold;
    opacity: 0;
    animation: slide_right2 0.5s linear forwards;
    animation-delay: 1.5s; 
}

    @keyframes slide_right2{
        0%{
            transform: translateX(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

.contents .left button {
    cursor: pointer;
    margin-top: 50px;
    padding: 15px 32px;
    font-size: 1.2rem;
    font-weight: 550;
    background: #695959;
    color: var(--whiteFont);
    border: none;
}

.contents .left button:hover {
    background: #3d2d2d;
}

.contents .left .line {
    display: none;
}

.contents .left hr {
    opacity: 0.5;
    filter: blur(2px);
}

.home_scl .scl {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 15%;
}

.home_scl .scl li i {
    color: var(--whiteFont);
    font-size: 1.5rem;
    margin: 3rem 1.4rem;
}

.home_scl .scl li i:hover{
    color: #bfbfbf;
    transform: translateY(-5px);
}

                    @media screen and (max-width: 1630px) {
                        .contents .left h1 {
                            font-size: 5rem;
                        }
                        .contents .left span {
                            font-size: 3rem;
                        }
                    }
                    @media screen and (max-width: 940px) {
                        .contents .left h2 {
                            font-size: 3rem;
                        }
                        .contents .left h1 {
                            font-size: 4.5rem;
                        }
                        .contents .left span {
                            font-size: 2.5rem;
                        }
                    }
                    @media screen and (max-width: 900px) {
                        .contents .left {
                            margin-top: -75px;
                        }
                        .contents .left h2 {
                            font-size: 2.8rem;
                        }
                        .contents .left h1 {
                            font-size: 4rem;
                        }
                        .contents .left span {
                            font-size: 2.3rem;
                        }
                        .contents .left .line {
                            display: flex;
                            margin-top: 75px;
                        }
                        .contents .left hr {
                            display: none;
                        }
                        .home_scl .scl {
                            display: block;
                            flex-direction: column;
                            margin-top: 20%;
                        }
                        
                        .home_scl .scl li i {
                            font-size: 2.5rem;
                            margin: 1.4rem 1.4rem;
                        }
                    }
                    @media screen and (max-width: 425px) {
                        .contents .left {
                            margin-top: -30px;
                        }
                        .contents .left h2 {
                            font-size: 2rem;
                            margin-bottom: 10px;
                        }
                        .contents .left h1 {
                            font-size: 3rem;
                            margin-bottom: 10px;
                        }
                        .contents .left span {
                            font-size: 2rem;
                        }
                        .contents .left .line {
                            display: flex;
                            margin-top: 30px;
                            width: 150%;
                            margin-left: 25%;
                        }
                        .contents .left button {
                            margin-top: 40px;
                            padding: 15px 32px;
                            font-size: 0.7rem;
                        }
                        .home_scl .scl {
                            margin-top: 50%;
                        }
                        .home_scl .scl li i {
                            font-size: 1.5rem;
                            margin: 1.4rem 1.4rem;
                        }
                        .contents .left .Isaac .S2 {
                            margin-left: 15px;
                        }
                        .contents .left .Isaac .I:hover {
                            font-size: 2.5rem;
                        }
                        .contents .left .Isaac .S:hover {
                            font-size: 1.5rem;
                        }
                        .contents .left .Isaac .A1:hover {
                            font-size: 3.5rem;
                        }
                        .contents .left .Isaac .A2:hover {
                            font-size: 2.5rem;
                        }
                        .contents .left .Isaac .C:hover {
                            font-size: 1.5rem;
                        }
                        .contents .left .Isaac .S2:hover {
                            font-size: 2.5rem;
                        }
                        .contents .left .Isaac .A3:hover {
                            font-size: 3.5rem;
                        }
                        .contents .left .Isaac .R:hover {
                            font-size: 2.5rem;
                        }
                        .contents .left .Isaac .T:hover {
                            font-size: 2.5rem;
                        }
                        .contents .left .Isaac .E:hover {
                            font-size: 1.5rem;
                        }
                    }
                    @media screen and (max-width: 375px) {
                        .contents .left {
                            margin-top: -5px;
                        }
                        .contents .left h2 {
                            font-size: 2rem;
                            margin-bottom: 10px;
                        }
                        .contents .left h1 {
                            font-size: 2.8rem;
                            margin-bottom: 10px;
                        }
                        .contents .left span {
                            font-size: 1.8rem;
                        }
                        .contents .left .line {
                            display: flex;
                            margin-top: 20px;
                            width: 150%;
                            margin-left: 25%;
                        }
                        .contents .left button {
                            margin-top: 30px;
                            padding: 15px 32px;
                            font-size: 0.7rem;
                        }
                        .home_scl .scl {
                            margin-top: 50%;
                        }
                        .home_scl .scl li i {
                            font-size: 1.5rem;
                            margin: 1.4rem 1.4rem;
                        }
                        .contents .left .Isaac .S2 {
                            margin-left: 15px;
                        }
                    }
                    @media screen and (max-width: 360px) {
                        .contents .left {
                            margin-top: 20px;
                        }
                        .contents .left h2 {
                            font-size: 1.9rem;
                            margin-bottom: 10px;
                        }
                        .contents .left h1 {
                            font-size: 2.1rem;
                            margin-bottom: 10px;
                        }
                        .contents .left span {
                            font-size: 1.6rem;
                        }
                        .contents .left .line {
                            display: flex;
                            margin-top: 20px;
                            width: 150%;
                            margin-left: 25%;
                        }
                        .contents .left button {
                            margin-top: 20px;
                            padding: 15px 30px;
                            font-size: 0.7rem;
                        }
                        .home_scl .scl li i {
                            font-size: 1.5rem;
                            margin: 1.2rem 1.2rem;
                        }
                    }
                    @media screen and (max-width: 320px) {
                        .contents .left {
                            margin-top: 55px;
                        }
                        .contents .left h2 {
                            font-size: 1.8rem;
                            margin-bottom: 10px;
                        }
                        .contents .left h1 {
                            font-size: 2rem;
                            margin-bottom: 10px;
                        }
                        .contents .left span {
                            font-size: 1.5rem;
                        }
                        .contents .left button {
                            margin-top: 20px;
                            padding: 15px 30px;
                            font-size: 0.5rem;
                        }
                        .home_scl .scl {
                            margin-top: 20%;
                        }
                        .home_scl .scl li i {
                            font-size: 1.2rem;
                            margin: 1.2rem 1.2rem;
                        }
                    }

/* Right Side */

.contents .right {
    width: 50%;
}

.contents .right img {
    position: relative;
    top: -22.5%;
    width: 70%;
    height: 140%;
    right: -30%;
    filter: drop-shadow(8px 8px 5px rgb(43, 42, 42));
    opacity: 0;
    animation: fade_in 1s linear forwards;
    animation-delay: 1.5s;
}
    @keyframes fade_in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 0.6;
        }
    }

.contents .right img:hover {
    filter: drop-shadow(8px 8px 5px rgb(73, 72, 72));
}

                    @media screen and (max-width: 1630px) {
                        .contents .right img {
                            top: -15%;
                            width: 70%;
                            height: 125%;
                            right: -30%;
                        } 
                    }
                    @media screen and (max-width: 900px) {
                        .contents .right img {
                            position: relative;
                            top: -250px;
                            width: 95%;
                            left: 110%;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        .contents .right img {
                            left: 105%;
                        }
                    }
                    @media screen and (max-width: 425px) {
                        .contents .right img {
                            top: -160px;
                            width: 120%;
                            height: 290px;
                            left: 80%;
                        }
                    }
                    @media screen and (max-width: 375px) {
                        .contents .right img {
                            top: -200px;
                            width: 120%;
                            height: 280px;
                            left: 80%;
                        }
                    }
                    @media screen and (max-width: 360px) {
                        .contents .right img {
                            top: -235px;
                            width: 120%;
                            height: 250px;
                            left: 80%;
                        }
                    }
                    @media screen and (max-width: 320px) {
                        .contents .right img {
                            top: -250px;
                            width: 120%;
                            height: 210px;
                            left: 80%;
                        }
                    }