@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --mainBG: #000;
    --whiteFont: #fff;
    --blackFont: #000;
    --mainWidth: 100%;
    --mainHeight: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: var(--mainHeight);
    background: rgba(255, 255, 255, 0.05);
}

#pBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animateS 5s linear infinite;
}

    @keyframes animateS {
        0%, 100% {
            filter: hue-rotate(0deg);
        }
        50% {
            filter: hue-rotate(360deg);
        }
    }

#pBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--mainWidth);
    height: var(--mainHeight);
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}

#pBar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--mainWidth);
    height: var(--mainHeight);
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}

    @keyframes scrollbarA {
        0%,100% {
            filter: hue-rotate(0deg);
        }
        50% {
            filter: hue-rotate(360deg);
        }
    }

html {
    scroll-behavior: smooth;
}

body {
    background: var(--mainBG);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    width: var(--mainWidth);
    z-index: 1000;
    background: var(--mainBG);
    border-bottom: 1px outset #bfbfbf;
}

header .logo {
    position: relative;
    color: var(--whiteFont);
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.2s;
}

    @keyframes slide_left {
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--whiteFont);
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}

    @keyframes slide_top {
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 1;
        }
    }

header ul li a.active,
header ul li a:hover {
    background: #313131;
    color: var(--whiteFont);
    border-radius: 10px;
}

.lineHR {
    width: 50%;
    height: 10px;
    border: none;
    color: #000;
    border-radius: 15px;
    background: linear-gradient(to right, violet, blue);
    margin: 0 auto;
    transition: 2s;
}

.lineHR:hover {
    background: linear-gradient(to left, violet, blue);
}

                    @media screen and (max-width: 1024px) {
                        .lineHR {
                            width: 75%;
                        }
                    }
                    @media (max-width: 991px) {
                        #header{
                            padding: 150px 20px;
                        }
                        header{
                            padding: 20px;
                        }
                        .ul_nav{
                            display: none;
                        }
                        .ul_nav.active{
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: var(--mainWidth);
                            height: 45%;
                            background: var(--whiteFont);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        header ul li{
                            margin: 10px 0;
                        }
                        header ul li a{
                            margin-left: 0;
                            font-size: 1.5em;
                            color: var(--mainBG);
                        }
                        .toggle{
                            position: fixed;
                            top: 20px;
                            right: 20px;
                            width: 40px;
                            height: 40px;
                            background: url(../images/menu.png);
                            background-size: 50px;
                            background-repeat: no-repeat;
                            background-position: center;
                            cursor: pointer;
                            z-index: 1000;
                            opacity: 5;
                        }
                        .toggle.active{
                            background: url(../images/close.png);
                            background-size: 50px;
                            background-repeat: no-repeat;
                            background-position: center;
                            cursor: pointer;
                            z-index: 1000;
                            border-radius: 2px;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        .lineHR {
                            width: 80%;
                        }
                    }